/**
 * Base styles and global resets
 */

@supports (position-area: top) {
  html:after {
    content: '';
    position: fixed;
    position-anchor: --focus;
    inset: anchor(inside, 0);
    outline: 2px solid white;
    outline-offset: 3px;
    border-radius: 2px;
    pointer-events: none;
    transition: 0.4s;
    z-index: 9999;
    opacity: 0.8;
  }
  *:focus-visible {
    outline: none;
    anchor-name: --focus;
  }
}

body {
  @apply bg-linear-to-br from-blue-600 via-blue-500 to-purple-700 text-white font-sans;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

[disabled] {
  @apply cursor-not-allowed;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  @apply h-2.5 w-2.5;
}

::-webkit-scrollbar-track {
  @apply bg-slate-900/90 rounded-lg m-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded-lg border-2 border-slate-900;

  &:hover {
    @apply bg-slate-500;
  }
}

::-webkit-scrollbar-corner {
  @apply bg-slate-900;
}
